* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 92%;
  max-width: 380px;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  background-color: #fffeec;
}
.header {
  padding: 2rem 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    transform: translateY(-250%);
    opacity: 0;
    transition: all 0.5s ease;

    &--toggle {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .nav {
    &__item-container {
      display: flex;
      flex-flow: row nowrap;

      margin: 1.5rem 0;
    }

    &__btn--green {
      background-color: rgb(2, 49, 2);

      border-radius: 10px;
      color: rgb(255, 255, 255);
      font-size: 1rem;
      border: none;
      width: 10rem;
      font-weight: 700;
      cursor: pointer;
    }
    &__section {
      width: 90%;
      max-width: 380px;
      margin: 2rem auto 0;
      background: #ffffff;
      z-index: 4;
      height: 100%;
      padding: 3rem 2rem;
      border-radius: 15px;
    }

    &__list {
      list-style: none;
    }

    &__item {
      cursor: pointer;
      padding: 0.5rem 0;

      &--btn {
        margin-top: 1rem;
        text-align: center;
        position: fixed;
        bottom: 6%;
        left: 50%;
        padding: 1rem 1.5rem;
        transform: translateX(-50%);
      }

      &:hover > section {
        display: block;
      }

      & > h2 {
        font-size: 1.1rem;
        font-weight: 700;
        color: rgb(120, 120, 120);
        font-family: "Inter", sans-serif;
      }
      & > div {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;

        h2 {
          font-size: 1.1rem;
          font-weight: 700;
          color: rgb(120, 120, 120);
          font-family: "Inter", sans-serif;
        }
      }

      & > section {
        display: none;
      }
    }
    &__close-icon {
      cursor: pointer;
    }

    &__item--flex {
      margin-left: 10px;
      & dt {
        font-size: 1rem;
        font-weight: 700;
        font-family: "Inter", sans-serif;
        color: rgb(4, 33, 87);
        padding-bottom: 0.3rem;
      }

      & dd {
        font-size: 0.85rem;
        color: rgb(120, 120, 120);
      }
    }
  }

  &__logo {
    width: 7rem;
    img {
      width: 100%;
    }
  }

  &__menu {
    width: 2rem;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

.about-section {
  margin-bottom: 2rem;
  &__h1 {
    font-size: 2rem;
    font-weight: 800;
    max-width: 340px;
    line-height: 1.1;
    & span {
      color: rgb(255 190 25);
    }
  }
  &__text {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    max-width: 350px;
    color: rgb(120, 120, 120);
    padding: 1rem 0;
  }

  &__btn {
    background-color: rgb(2, 49, 2);
    padding: 1rem 1.5rem;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    border: none;
    width: 10rem;
    font-weight: 700;
    cursor: pointer;
  }
}

.review {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    font-family: "Inter", sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: rgb(120, 120, 120);
  }

  &__icon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    max-width: 85px;

    & div {
      & img {
        width: 90%;
      }
    }
  }
}

.hero {
  &__container {
    width: 90%;
    margin: 0 auto;
  }

  &__img {
    width: 100%;
  }
}

footer {
  margin: 4rem 0;
}

.footer {
  &__text-box {
    padding-bottom: 1.5rem;
    & p {
      font-family: "Inter", sans-serif;
      font-size: 0.9rem;
      font-weight: 400;
      color: rgb(120, 120, 120);
      text-align: center;
    }
  }

  &__logo {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    & div {
      width: 100%;
      & img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 90%;
    max-width: 1120px;
  }

  .header {
    &__logo {
      width: 10rem;
    }
    .nav {
      &__item--btn {
        margin-top: 0;
        position: static;
        transform: translateX(0);
      }

      &__list {
        list-style: none;
        display: flex;
        margin-right: 15%;
      }

      &__list dl {
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        width: 90%;
        margin: 0 auto;
      }

      &__close-icon {
        display: none;
      }
      &__section {
        width: 100%;
        max-width: 100%;
        margin: 0 0 0 0;
        height: 100%;
        padding-right: 0;
        background-color: inherit;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
      }

      &__item {
        padding: 1rem 1rem;

        &:hover > section {
          display: block;
          position: absolute;
          max-width: 380px;
          background-color: #fff;
          margin-top: 1rem;
        }
      }
    }

    &__nav {
      position: static;
      width: 100%;
      height: 100%;
      transform: translateY(0);
      opacity: 1;
      transition: none;
    }
    &__menu {
      display: none;
    }
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  .about-section {
    width: 60%;
    margin-bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    &__h1 {
      font-size: 3.5rem;
      font-weight: 800;
      max-width: 650px;
      line-height: 1.1;
    }

    &__text {
      font-family: "Inter", sans-serif;
      font-size: 1.5rem;
      font-weight: 400;
      max-width: 640px;
      color: rgb(120, 120, 120);
      padding: 1rem 0;
    }
  }

  .hero {
    width: 35%;

    &__container {
      width: 100%;
      height: 100%;
    }

    &__img {
      width: 100%;
      height: 100%;
    }
  }

  .review {
    max-width: 435px;
    &__text {
      font-size: 1.2rem;
    }

    &__icon {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      max-width: 100px;
      & > div {
        img {
          width: 100%;
        }
      }
    }
  }

  .footer {
    margin: 4rem 0;
    &__text-box p {
      font-size: 1.5rem;
    }

    &__text-box {
      padding-bottom: 3.5rem;
    }

    &__logo {
      display: flex;
      gap: 35px;
    }
  }
}
